
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


 body {
    background: rgb(197, 197, 197);
    /* linear-gradient(to right, #47474791, #c3ecea); */
    background-size: cover;
    color: #081C15;
    overflow-x: hidden;
}

.footer,
header {
    overflow: hidden;
}

/* Navbar Styles */
header {
    background: transparent;
    color: #081C15;
    border-bottom: #081C15 1px solid;
    animation: header 1.5s forwards;
}

.navbar {
    background-color: transparent;
    padding: 1rem 0;
}

@keyframes header {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}

.navbar-toggler {
    border-color: #081C15; /* Change border color */
    border-width: 3px;
    border-radius: 0;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23081C15' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Change bars color */
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove any shadow */
    background-color: transparent; /* Ensure background is transparent */
    border-color: #081C15; /* Ensure border color stays the same */
}

.navbar-brand {
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: #081C15;
}

.navbar-brand:hover {
    color: #081C15;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    
}

.navbar ul li {
    display: inline;
    position: relative;
}

.navbar ul li a {
    color: #081C15;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.1s ease; /* Smooth transition for color change and scale */
}

/* Border animation effect */
.navbar ul li a::before,
.navbar ul li a::after,
.navbar ul li a span::before,
.navbar ul li a span::after {
    content: '';
    position: absolute;
    background: #40916c;
    transition: all 0.4s ease;
}

/* Top and Bottom borders */
.navbar ul li a::before,
.navbar ul li a::after {
    width: 100%;
    height: 3px;
    transform: scaleX(0);
}

.navbar ul li a::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.navbar ul li a::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

/* Left and Right borders */
.navbar ul li a span::before,
.navbar ul li a span::after {
    width: 3px;
    height: 100%;
    background: #40916c;
    transform: scaleY(0);
}

.navbar ul li a span::before {
    top: 0;
    left: 0;
    transform-origin: top;
}

.navbar ul li a span::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom;
}

/* Hover Effect */
.navbar ul li a:hover::before,
.navbar ul li a:hover::after {
    transform: scaleX(1);
}

.navbar ul li a:hover span::before,
.navbar ul li a:hover span::after {
    transform: scaleY(1);
}

.navbar ul li a:hover {
    color: #40916c;
}

/* Active State */
.navbar ul li a.active::before,
.navbar ul li a.active::after,
.navbar ul li a.active span::before,
.navbar ul li a.active span::after {
    transform: scaleX(1);
    transform: scaleY(1);
}

.navbar ul li a.active {
    color: #081C15; 
}

/* Responsive Styles */
@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    .nav-link:hover::before,
    .nav-link:hover::after,
    .nav-link:hover span::before,
    .nav-link:hover span::after {
        transform: scaleX(1);
        transform: scaleY(1);
    }

    .navbar-nav .nav-link.active::before,
    .navbar-nav .nav-link.active::after,
    .navbar-nav .nav-link.active span::before,
    .navbar-nav .nav-link.active span::after {
        transform: scaleX(1);
        transform: scaleY(1);
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 0;
    }

    .nav-link {
        font-size: 0.8rem;
    }

    .nav-link:hover::before,
    .nav-link:hover::after,
    .nav-link:hover span::before,
    .nav-link:hover span::after {
        transform: scaleX(1);
        transform: scaleY(1);
    }

    .navbar-nav .nav-link.active::before,
    .navbar-nav .nav-link.active::after,
    .navbar-nav .nav-link.active span::before,
    .navbar-nav .nav-link.active span::after {
        transform: scaleX(1);
        transform: scaleY(1);
    }
}




/* footer */

.footer .div2,
.footer .div3,
.footer .div4,
.footer .copyright {
    opacity: 0;
    transition: opacity 2s ease-out, transform 3s ease-out;
}

.footer .div2.in-view,
.footer .div3.in-view,
.footer .div4.in-view,
.footer .copyright.in-view {
    opacity: 1;
    transform: translateX(0);
}

.footer {
    color: #081C15;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    border-top: #081C15 1px solid;
    background: transparent;
}

.footer .div2.in-view {
    animation: footer-left 1.5s forwards;
}

@keyframes footer-left {
    from {
        transform: translateX(-40rem);
    }

    to {
        transform: translateX(0);
    }
}

.footer .div3.in-view {
    animation: footer-center 1s forwards;
}

@keyframes footer-center {
    from {
        transform: translateY(60rem);
    }

    to {
        transform: translateY(0);
    }
}

.footer .div4.in-view {
    animation: footer-right 1.5s forwards;
}

@keyframes footer-right {
    from {
        transform: translateX(40rem);
    }

    to {
        transform: translateX(0);
    }
}

.footer .copyright.in-view {
    animation: copyright 0.5s forwards;
}

@keyframes copyright {
    from {
        transform: translateX(-60rem);
    }

    to {
        transform: translateX(0);
    }
}

.footer h5 {
    color: #081C15;
    font-size: 2rem;
}

.footer a {
    color: #081C15;
    text-decoration: none;
}

.footer .social-icons a {
    color: #081C15;
    margin: 0 10px;
}

.footer .social-icons img {
    width: 40px;
    height: 40px;
    transition: tranform 0.5s;
}

.footer .social-icons img:hover {
    transform: scale(1.1);
}

.footer .Menu a {
    color: #081C15;
    font-size: 1.4rem;
}

.footer .Menu a:hover {
    color: #40916c;
    text-decoration: underline;
}

.footer .email {
    color: #081C15;
    font-size: 1.4rem;
}

.footer .email, p {
    font-size: 1.4rem;
}

.footer .email:hover {
    color: #40916c;
    text-decoration: underline;
}

.footer .div1 iframe {
    text-align: center;
    width: 60%;
    height: fit-content;
}

.footer .copyright {
    margin-top: 1rem;
}

.footer .copyright hr {
    border: none;
    background-color: #081C15;
    margin: 0 30rem;
    padding: 0;

}

@media (max-width: 768px) {
    .footer {
        padding: 1rem 0;
    }

    .footer h5 {
        font-size: 2.5rem;
    }

    .footer .social-icons a {
        margin: 0 0.5rem;
        padding: 0rem;
    }

    .footer .social-icons img {
        margin: 0rem;
        padding: 0rem;
        width: 2rem;
        height: 2rem;
    }

    .footer .Menu a,
    .footer .email, p {
        font-size: 1.4rem;
    }

    .footer .div1 iframe {
        max-width: 22rem;
        height: 15rem;
    }

    .footer .div2,
    .footer .div3,
    .footer .div4 {
        padding-bottom: 2rem;
    }

    .footer .div2.in-view {
        animation: footer-left 1.5s forwards;
    }

    @keyframes footer-left {
        from {
            transform: translateY(-40rem);
        }

        to {
            transform: translateY(0);
        }
    }

    .footer .div3.in-view {
        animation: footer-center 1.5s forwards;
    }

    @keyframes footer-center {
        from {
            transform: translateX(40rem);
        }

        to {
            transform: translateX(0);
        }
    }

    .footer .div4.in-view {
        animation: footer-right 1.5s forwards;
    }

    @keyframes footer-right {
        from {
            transform: translateY(40rem);
        }

        to {
            transform: translateY(0);
        }
    }

    .footer .copyright.in-view {
        animation: copyright 0.5s forwards;
    }

    @keyframes copyright {
        from {
            transform: translateX(-40rem);
        }

        to {
            transform: translateX(0);
        }
    }
}